@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-slate-950 text-slate-50;
}

@layer components {
    .main-container {
        @apply flex min-h-screen flex-1 flex-col items-center bg-slate-950 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
    }

    /* Head Text */
    .head-text {
        @apply text-2xl font-bold text-slate-50;
    }
}

@layer utilities {
    .css-invert {
        @apply invert-[50%] brightness-200;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-radius: 2px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #09090a;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #5c5c7b;
        border-radius: 50px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #7878a3;
    }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
    @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger
.cl-organizationPreview
.cl-organizationPreviewTextContainer {
    @apply max-sm:hidden;
}

/* Shadcn Component Styles */

/* Tab */
.tab {
    @apply flex min-h-[50px] flex-1 items-center gap-3 bg-slate-900 text-slate-300 data-[state=active]:bg-indigo-800 data-[state=active]:text-slate-100 !important;
}

.no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
    @apply flex h-24 w-24 items-center justify-center rounded-full bg-slate-700 !important;
}

.account-form_image-input {
    @apply cursor-pointer border-none bg-transparent outline-none file:text-blue-400 !important;
}

.account-form_input {
    @apply border border-slate-700 bg-slate-800 text-slate-100 !important;
}

/* Comment Form */
.comment-form {
    @apply mt-10 flex items-center gap-4 border-y border-y-slate-700 py-5 !important;
}

.comment-form_btn {
    @apply rounded-3xl bg-indigo-500 px-8 py-2 text-slate-100 !important;
}


